:root {
  --main-bg: #284b63;
  --sec-bg: #315873;

  --color-danger: #ff0060;
  --color-sucess: #1b9c85;
  --color-warning: #f7d060;

  --color-light: rgba(132, 139, 200, 0.18);

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 1rem 3rem var(--color-light);

  --dark-zero: #000;
  --dark-one: #797984;
  --dark-two: #312d37;
  --color-info-dark: #7d8da1;

  --text_color: #d9f6fc;

  --light-blue: #9cc9e8;
  --light-blue-2: #59a5d8;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--text_color);
  background-color: var(--main-bg);
}

a {
  color: var(--text_color);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76;
}

p {
  color: var(--text_color); /*analisar as cores*/
}

b {
  color: var(--text_color); /*analisar as cores*/
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.container {
  display: grid;
  width: 96%;
  margin: auto;
  gap: 1.8rem;
  grid-template-columns: 12rem auto 23rem;
}

aside .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .toggle .logo {
  display: flex;
  gap: 0.5rem;
}

aside .toggle .logo img {
  width: 2rem;
  height: 2rem;
}

aside .toggle .close {
  padding-right: 1rem;
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--sec-bg);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 90vh;
  position: sticky;
  top: 1.5rem;
  transition: all 0.3s ease;
}

aside .sidebar:hover {
  box-shadow: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--light-blue); /*analisar as cores*/
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  width: 100%;
  color: var(--light-blue);
  background-color: var(--main-bg); /*analisar as cores*/
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: " ";
  width: 6px;
  height: 18px;
  background-color: var(--sec-bg); /*analisar as cores*/
}

aside .sidebar a.active span {
  color: var(--color-info-dark); /*analisar as cores*/
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-info-dark); /*analisar as cores*/
}

aside .sidebar a:hover span {
  margin-left: 0.6rem;
}

main {
  margin-top: 1.4rem;
}

main .analyse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .analyse > div {
  background-color: var(--sec-bg);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

main .analyse > div:hover {
  box-shadow: none;
}

main .analyse > div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .analyse h3 {
  margin-left: 0.6rem;
  font-size: 1rem;
}

main .analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .analyse svg {
  width: 7rem;
  height: 7rem;
}

main .analyse svg circle {
  fill: none; /* cor que preenche o cículo do gráfico (?)*/
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .analyse .sales-daily svg circle {
  /*gráfico de vendas do dia*/
  stroke: var(--color-sucess);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .sales-month svg circle {
  /*gráfico de vendas do mês*/
  stroke: var(--color-danger);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .total-sales svg circle {
  /*gráfico de vendas totais*/
  stroke: var(--light-blue);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .progresss .percentage {
  position: absolute;
  top: 3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

main .new-client {
  margin-top: 1.3rem;
}

main .new-client .client-list {
  background-color: var(--sec-bg);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

main .new-client .client-list:hover {
  box-shadow: none;
}

main .new-client .client-list .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .new-client .client-list .client img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 50%;
}

main .recent-orders {
  margin-top: 1.3rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background-color: var(--sec-bg);
  width: 100%;
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  transition: all 0.3s ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-info-dark);
  color: var(--text_color);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--text_color);
}

aside .right-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--sec-bg);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 95vh;
  width: 30vh;
  position: sticky;
  top: 1.5rem;
  transition: all 0.3s ease;
}

aside .right-sidebar:hover {
  box-shadow: none;
}

aside .right-sidebar a {
  display: flex;
  align-items: center;
  color: var(--light-blue); /*analisar as cores*/
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .right-sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .right-sidebar a.active {
  width: 100%;
  color: var(--light-blue);
  background-color: var(--main-bg); /*analisar as cores*/
  margin-left: 0;
}

aside .right-sidebar a.active::before {
  content: " ";
  width: 6px;
  height: 18px;
  background-color: var(--sec-bg); /*analisar as cores*/
}

aside .right-sidebar a.active span {
  color: var(--color-info-dark); /*analisar as cores*/
  margin-left: calc(1rem - 3px);
}

aside .right-sidebar a:hover {
  color: var(--color-info-dark); /*analisar as cores*/
}

aside .right-sidebar a:hover span {
  margin-left: 0.6rem;
}

/* Styles from estoque page */

main .stock {
  margin-top: 1.3rem;
}

main .stock h2 {
  margin-bottom: 0.8rem;
}

main .stock table {
  background-color: var(--sec-bg);
  width: 100%;
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  transition: all 0.3s ease;
}

main .stock table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-info-dark);
  color: var(--text_color);
}

main table tbody tr:last-child td {
  border: none;
}

main .stock a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--text_color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
  justify-content: center;
  background-color: var(--sec-bg);
  margin: 5% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 1.2rem;
  width: 50%;
  font-size: 20px;
}

.modal-conteudo h1 {
  text-align: center;
}

.fechar {
  color: #aaa;
  float: right;
  font-weight: bold;
  font-size: 38px;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Styles from produtos page*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 0.6rem;
    font-size: 20px;
    background-color: var(--sec-bg);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 0.6rem auto;
}


form input, select{
    width: 100%;
    padding: 0.6rem;
    border-radius: var(--border-radius-1);
    border: none;
    background-color: var(--main-bg);
    color: var(--text_color);
}

form p{
    font-size: 28px;
}
